.container-fluid{
	max-width: 1780px;
	width:100%;
	margin: 0 auto;
}
#off-canvas-menu .languages-info.type1, #off-canvas-menu .currency-info.type1{
    display: block;
}
#off-canvas-menu .languages-info.type2, #off-canvas-menu .languages-info.type3 {
    display: none;
}
#off-canvas-menu .currency-info.type2, #off-canvas-menu .currency-info.type3{
    display: none;
}
/*header*/
.header{
	border-bottom: 1px solid #f6f6f6;
}
.header .container > .row{
	display: flex;
	align-items: center;
}
.header .container {
	padding: 40px 0;
}
.header .left .addon-box {
	display: flex;
	transform: translateY(6px);
}
.header .left .addon-box p {
	margin-left: 13px;
	margin-top: 4px;
}
.header .left h2 {
	font-size: 12px;
	font-family: "semibold";
	color: #777;
	padding-left: 68px;
	padding-top: 2px;
	padding-bottom: 8px;
}
.header .left h3 {
	font-size: 19px;
	font-family: "bold";
	color: #111;
	letter-spacing: 0;
}
.header .center .addon-box{
	display: flex;
	justify-content: center;
}
.header .right > .addon-box > .btn-group.module-group-box > a {
	background: url("../img/icon/group.png") no-repeat;
	width: 20px;
	height: 16px;
	display: block;
	margin-top: 11px;
}
.header #search_result{
	top: 63px;
}
.header .right .addon-box {
	float: right;
}
.header .right span.text {
	display: none;
}
.header .right .shopping-cart-icon {
	position: inherit;
	margin-top: 7px;
	margin-right: 29px;
}
.header .right .ajax_cart_quantity {
	top: -11px;
	right: 20px;
}
.header .right .addon-box:last-child {
	margin-top: 10px;
	margin-right: 38px;
}
.header #ajax_search {
	top: 16px;
	border-radius: 0;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	border: 0;
	background: #fff url(../img/icon/icon-search.png) no-repeat 18px;
	padding-left: 55px;
	letter-spacing: 0.8px;
	font-size: 13px;
	background-size: 20px;
	visibility: hidden;
}
.header .type1.open #ajax_search{
	visibility: visible;
}
.header .jms_ajax_search .searchbox::after {
	background: #fff none repeat scroll 0 0;
	box-shadow: -3px -3px 7px rgba(0, 0, 0, 0.1);
	content: "";
	height: 10px;
	position: absolute;
	top: 11px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	width: 10px;
	left: auto;
	right: 5px;
	z-index: 999;
}
.header #cart_block .shoppingcart-box{
	top: 45px;
}
.header #_desktop_user_info .type1,
.header #_desktop_user_info .type2,
.languages-info.type1,
.languages-info.type2,
.currency-info.type1,
.currency-info.type2{
	display: none;
}
.header .right .addon-box:first-child .btn-name{
	font-weight: 600;
}
.header .right .addon-box:first-child .dropdown-menu{
	padding: 20px;
	top: 40px;
	right: -12px;
	left: auto;
	min-width: 180px;
	display: block;
	visibility: hidden;
}
.header .right .addon-box:first-child .btn-group.open .dropdown-menu{
	visibility: visible;
}
.header .right .addon-box:first-child .dropdown-menu::after {
	background: #fff none repeat scroll 0 0;
	box-shadow: -3px -3px 7px rgba(0, 0, 0, 0.1);
	content: "";
	height: 10px;
	position: absolute;
	top: -5px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	width: 10px;
	left: auto;
	right: 18px;
	z-index: 999;
}
.header .shoppingcart-box::after {
	right: 40px;
}
.header .right .icon-magnifier{
	font-size: 18px;
}
/*end header*/

/*menu*/
.menu .jms-megamenu .dropdown-menu {
	top: 77px !important;
}
.menu .nav.level0 {
	text-align: center;
}
.menu .jms-megamenu .nav > li > a {
	line-height: 77px;
}
/*end menu*/

/*banner1*/
.banner img{
	width: 100%;
}
.banner1 .feature-box{
	position: relative;
}
.banner1 .content {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 152px;
}
.banner1 .content h3 {
	font-size: 19px;
	font-family: "semibold";
	background: #efe3b0;
	width: 27.6%;
	color: #fff;
	line-height: 32px;
	padding: 0 14px 0 23px;
	letter-spacing: 5.7px;
	margin-bottom: 25px;
}
.banner1 .content h1 {
	font-size: 30px;
	font-family: "semibold";
	color: #444;
	letter-spacing: 4.1px;
	padding-bottom: 43px;
}
.banner1 .content img {
	margin-bottom: 65px;
}
.banner1 .content a {
	font-size: 20px;
	font-family: "semibold";
	color: #111;
	padding: 11px 24px;
	border: 2px solid #ccc;
}
.banner1 .content a:hover{
	background: #ff3f13;
	border: 2px solid #ff3f13;
	color: #fff;
}
.banner1 .include_content_s h2 {
	font-size: 19px;
	font-family: "semibold";
	color: rgba(17,17,17,0.4);
	letter-spacing: 7.5px;
	position: absolute;
	right: -286px;
	transform: rotate(90deg);
	top: 51.4%;
}
.banner1{
	margin-top: 80px;
	margin-bottom: 80px;
}
/*end banner1*/

/*banner2*/
.banner2 .feature-box{
	position: relative;
}
.banner2 .include_content_s {
	position: absolute;
	top: 50.4%;
	right: 13px;
	width: 50%;
	transform: translateY(-50%);
}
.banner2 .include_content_s h2 {
	font-size: 150px;
	font-family: "quentin";
	color: #d8a47d;
	padding-bottom: 0;
	line-height: 1;
	margin-bottom: -11px;
}
.banner2 .include_content_s h3 {
	font-size: 50px;
	font-family: "bold";
	color: #111;
	line-height: 1.25;
}
.banner2 .feature-box .include_content_s a {
	font-size: 19px;
	font-family: bold;
	position: relative;
	color: #222;
	letter-spacing: 0;
}
.banner2 .feature-box .include_content_s a::after {
	content: "";
	width: 100%;
	height: 2px;
	background: #222;
	position: absolute;
	bottom: -2px;
	display: flex;
	left: 50%;
	transform: translateX(-50%);
}
/*end banner2*/
.banner3 .feature-box .include_content_s a:hover, 
.banner2 .feature-box .include_content_s a:hover {
	color: #ff3f13;
}
.banner2 .feature-box .include_content_s a:hover::after,
.banner3 .feature-box .include_content_s a:hover::after {
	background: #ff3f13;
}
/*banner3*/
.banner3 .feature-box{
	position: relative;
}
.banner3 .content {
	position: absolute;
	top: 54.7%;
	right: 10px;
	width: 41%;
	transform: translateY(-50%);
}
.banner3 .content h3 {
	font-size: 50px;
	font-family: "bold";
	color: #111;
	line-height: 1.25;
}
.banner3 .feature-box .content a {
	font-size: 19px;
	font-family: bold;
	position: relative;
	color: #222;
	letter-spacing: 0;
}
.banner3 .feature-box .content a::after {
	content: "";
	width: 100%;
	height: 2px;
	background: #222;
	position: absolute;
	bottom: -2px;
	display: flex;
	left: 50%;
	transform: translateX(-50%);
}
.banner3 .include_content_s h2 {
	font-size: 19px;
	font-family: "semibold";
	color: rgba(17,17,17,0.4);
	letter-spacing: 7.5px;
	position: absolute;
	left: -237px;
	transform: rotate(-90deg);
	top: 51.1%;
}
/*end banner3*/

/*banner4*/
.banner4 .feature-box{
	position: relative;
}
.banner4 .content {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 147px;
}
.banner4 .content h3 {
	font-size: 19px;
	font-family: "semibold";
	background: #f9cbcb;
	color: #fff;
	line-height: 32px;
	padding: 0 14px 0 23px;
	letter-spacing: 5.7px;
	margin-bottom: 25px;
	margin-left: 70%;
}
.banner4 .content h1 {
	font-size: 30px;
	font-family: "semibold";
	color: #444;
	letter-spacing: 4.1px;
	padding-bottom: 43px;
}
.banner4 .content img {
	margin-bottom: 65px;
}
.banner4 .content a {
	font-size: 20px;
	font-family: "semibold";
	color: #111;
	padding: 11px 24px;
	border: 2px solid #ccc;
}
.banner4 .content a:hover{
	background: #ff3f13;
	border: 2px solid #ff3f13;
	color: #fff;
}
.banner4 .include_content_s h2 {
	font-size: 19px;
	font-family: "semibold";
	color: rgba(17,17,17,0.4);
	letter-spacing: 7.5px;
	position: absolute;
	left: -286px;
	transform: rotate(-90deg);
	top: 51.4%;
}
.banner4 {
	margin-top: 80px;
	margin-bottom: 77px;
}
/*end banner4*/

.best-seller {
	padding-top: 93px;
	border-top: 2px solid #f6f6f6;
	margin-bottom: 86px;
}

.brand{
	margin:0;
}
.brand .brand-carousel {
	padding: 76px 0 72px;
	border-top: 2px solid #ebebeb;
}

/*footer*/
#footer {
    background: #f9f9f9;
}
#footer .container {
    max-width: 1194px;
    width: 100%;
}
.footer-top .container > .row{
    display: flex;
    align-items: center;
}
.footer-top .center ul li {
    display: inline-block;
    padding: 0 17px;
    position: relative;
}
.footer-top .container {
    padding: 81px 0;
    border-bottom: 1px solid #ededed;
}
.footer-top .center ul{
    margin: 0;
}
.footer-top .center ul li a {
    font-size: 20px;
    font-family: "semibold";
    color: #909090;
    letter-spacing: 0;
}
.footer-top .center ul li:not(:last-child) a::after {
    content: "";
    position: absolute;
    height: 19px;
    width: 1px;
    background: #e1e1e1;
    right: -2px;
    top: 12px;
}
.footer-top .right h3 {
    background: #252525;
    color: #fff;
    padding: 0;
    text-align: center;
    line-height: 51px;
    font-size: 23px;
    letter-spacing: 1px;
}
.footer-bot .container > .row{
    display: flex;
    align-items: center;
}
.footer-bot .container{
    padding: 25px 0;
}
.footer-bot .left p {
    font-size: 18px;
    font-family: "medium";
    letter-spacing: -0.1px;
    line-height: 1.8;
}
.footer-bot .left p a{
    color: #ff3f13;
}
.footer-bot .left p i{
    font-size: 16px;
}
.footer-bot .right .addon-box{
    float: right;
}
/*end footer*/

@media (max-width: 1366px){
	.banner1 .content img, .banner4 .content img{
		width: 71%;
	}
	.banner1 .include_content_s h2 {
		letter-spacing: 3.5px;
		right: -213px;
		top: 46.4%;
	}
	.banner4 .include_content_s h2 {
		letter-spacing: 3.5px;
		left: -213px;
		top: 46.4%;
	}
	.banner3 .include_content_s h2 {
		letter-spacing: 3.5px;
		left: -184px;
		top: 45.1%;
	}
}
@media (max-width: 1199px){
	.banner1 .content h1 {
		font-size: 20px;
	}
	.banner4 .content h1 {
		font-size: 20px;
	}
	.banner2 .include_content_s h2 {
		font-size: 100px;
	}
	.banner2 .include_content_s h3 {
		font-size: 30px;
	}
	.banner3 .content h3 {
		font-size: 30px;
	}
	.banner1 .content {
		left: 100px;
	}
	.banner4 .content {
		right: 100px;
	}
	.banner1 .content img, .banner4 .content img{
		width: 59%;
	}
	.banner1 .include_content_s h2 {
		letter-spacing: 0;
		right: -156px;
		top: 46.4%;
	}
	.banner4 .include_content_s h2 {
		letter-spacing: 0;
		left: -156px;
		top: 46.4%;
	}
	.banner3 .include_content_s h2 {
		letter-spacing: 0;
		left: -133px;
		top: 45.1%;
	}
}
@media (max-width: 991px){
	.footer-top .container > .row, .footer-bot .container > .row{
		display: block;
	}
	.footer-top .left .addon-box{
		display: flex;
		justify-content: center;
	}
	.footer-top .right h3{
		display: inline-block;
		padding: 0 20px;
		margin-top: 20px;
	}
	.footer-top .right .addon-title{
		display: flex;
		justify-content: center;
	}
	.footer-bot .left p{
		text-align: center;
	}
	.footer-bot .right .addon-box {
		float: unset;
		text-align: center;
		margin-top: 30px;
	}
	.header .container {
		padding: 0;
	}
	.menu{
		margin-top: -44px;
	}
	.header .left{
		visibility: hidden;
	}
	#open-button::before {
		transform: translateY(-24px);
	}
	.header .right .addon-box:nth-child(1), .header .right .addon-box:nth-child(3){
		display: none;
	}
	.banner1 .content h3 {
		letter-spacing: 0.3px;
	}
	.banner4 .content h3 {
		letter-spacing: 0.3px;
	}
	.banner1 .include_content_s h2 {
		font-size: 16px;
		right: -135px;
	}
	.banner4 .include_content_s h2 {
		font-size: 16px;
		left: -135px;
	}
	.banner3 .include_content_s h2 {
		font-size: 16px;
		left: -125px;
	}
	.banner2 .include_content_s h2 {
		font-size: 80px;
	}
}
@media (max-width: 767px){
	.banner1 .include_content_s h2, .banner4 .include_content_s h2{
		display: none;
	}
	.banner1 .content {
		left: 50px;
	}
	.banner4 .content {
		right: 50px;
	}
	.footer-top .addon-title h3{
		padding-top:0 !important;
	}
	.header #cart_block .shoppingcart-box{
		right: 15px;
	}
	.header .shoppingcart-box::after {
		right: 26px;
	}
	.banner1, .banner4 {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.best-seller {
		padding-top: 30px;
		margin-bottom: 30px;
	}
	.brand .brand-carousel {
		padding: 30px 0;
	}
	.footer-top .container {
		padding: 30px 0;
	}
}
@media (max-width: 715px){
	.banner1 .image img {
		width: 212%;
		margin-left: -106%;
	}
	.banner1 .content{
		position: unset;
		transform: unset;
		padding: 15px;
	}
	.banner1 .content h3, .banner4 .content h3{
		margin-bottom: 15px;
	}
	.banner1 .content h1, .banner4 .content h1{
		padding-bottom: 15px;
	}
	.banner1 .content img, .banner4 .content img {
		margin-bottom: 30px;
	}
	.banner4 .image img {
		width: 212%;
		margin-left: -37px;
	}
	.banner4 .content{
		position: unset;
		transform: unset;
		padding: 15px;
		text-align: left;
	}
	.banner4 .content h3{
		margin-left: 0;
	}
	.banner1 .content h3, .banner4 .content h3{
		display: inline-block;
		width: auto;
	}
	.banner2_3 .image img {
		width: 212%;
	}
	.banner3 .image img{
		margin-left: -70px;
	}
	.banner2 .include_content_s, .banner3 .include_content_s .content {
		position: unset;
		transform: unset;
		width:100%;
		padding: 15px;
	}
}
@media (max-width: 481px){
	.banner1 .content img, .banner4 .content img {
		width: 100%;
	}
	#open-button::before {
		transform: translateY(-17px);
	}
}