/*slides*/
.slides .text-large {
    color: #d8a47d;
    font-family: "quentin";
    letter-spacing: 0.3px;
}
.slides .text-small {
    width: 100%;
    font-family: "bold";
    color: #fefefe;
    letter-spacing: 1.9px;
}
/*end slides*/

/*header*/
.header .container-fluid > .row{
    display: flex;
    align-items: center;
}
.header .jms-megamenu .nav > li > a{
    line-height: 95px;
}
.header .right .addon-box {
    float: right;
    margin-top: -5px;
}
.header .right p{
    cursor: pointer;
    margin:0;
}
.header .right .close-setting,
.open .header .right .open-setting{
    display: none;
}
.header .center{
    opacity: 0;
}
.open .header .center{
    opacity: 1;
}
.open .header .right .close-setting{
    display: block;
}
.jms-megamenu .mega .dropdown-menu{
    top: 96px !important;
}
/*end header*/

.product .container-fluid > .row{
    display: flex;
    align-items: center;
}
.img-left .right .image{
    padding-bottom: 37px;
}
.product .images img{
    width: 100%;
}
.product .pro .image {
    padding-bottom: 38px;
}
.product .pro h2{
    font-size: 20px;
    font-family: "medium";
    color: #333;
    letter-spacing: 0.2px;
}
.product .pro h3 {
    font-size: 23px;
    font-family: "bold";
    color: #ff3f13;
    padding-bottom: 51px;
}
.product .pro .btn-shopnow {
    font-size: 20px;
    font-family: "semibold";
    color: #fff;
    background: #ff3f13;
    padding: 11px 33.5px;
}
.product .pro .btn-shopnow:hover {
    background: #ee390f;
}


/*footer*/
.footer-top .textnews_popup,
.footer-top .textnews_h1,
.footer-top .textnews_h2,
.footer-top .inputNew.normal,
.footer-top .buttonh1,
.footer-top .textnews_h6{
    display: none;
}
.footer-top .btn-h3 {
    display: block;
    margin-left: -45px;
    background: transparent;
    width: 50px;
}
.footer-top .btn-h3:hover span{
    color: #ff3f13;
}
.footer-top .addon-title h3 {
    font-size: 23px;
    font-family: "semibold";
    letter-spacing: 0;
    color: #111;
    padding-bottom: 31px;
}
.footer-top .addon-desc {
    color: #555;
    font-size: 15px;
    line-height: 1.9;
    letter-spacing: 0.4px;
}
.footer-top .info {
    padding-left: 63px;
}
.footer-top .link {
    padding-left: 60px;
}
.footer-top .newsletter {
    padding-left: 7px;
}
.footer-top .contact {
    padding-top: 5px;
}
.footer-top .contact-info li {
    color: #555;
    letter-spacing: 0.6px;
    font-size: 15px;
    line-height: 2.15;
}
.footer-top .info li a, .footer-top .link li a{
    letter-spacing: 0;
}
.footer-top .contact-info li:first-child {
    font-family: "semibold";
    color: #111;
    letter-spacing: 0.3px;
    padding-top: 13px;
}
.footer-top .contact .copyright p {
    font-size: 20px;
    font-family: "medium";
    color: #909090;
    letter-spacing: -0.2px;
    padding-top: 33px;
    margin: 0;
    padding-bottom: 32px;
}
.footer-top .contact .copyright p a{
    color: #ff3f13;
}
.footer-top #social_block li a {
    font-size: 21px;
    padding: 0 7.1px;
}
.footer-top #social_block ul {
    margin-left: -7.5px;
}
.footer-top {
    padding-bottom: 58px;
    background: #f7f7f7;
    padding-top: 77px;
}
.footer-top .form-group {
    display: flex;
    margin-bottom: 24px;
}
.footer-top #newsletter-input {
    border: 2px solid #d7d7d7;
    background: transparent;
    height: 50px;
    padding-left: 13px;
    letter-spacing: 0.7px;
    min-width: 283px;
}
#footer ul li a {
    color: #555;
    font-size: 15px;
    letter-spacing: 0.4px;
}
#footer .account ul li, #footer .info ul li, #footer .link ul li {
    line-height: 2;
}
@media (min-width: 1800px){
    #footer .account{
        padding-left: 11px;
    }
    #footer .info {
        padding-left: 63px;
    }
    #footer .link {
        padding-left: 59px;
    }
    #footer .newsletter {
        padding-left: 5px;
    }
}
.footer-top .textnews_h3 p {
    color: #555;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: -0.3px;
    width: 99%;
    margin-bottom: 24px;
}
.footer-bot ul li {
    color: #adadad;
    display: inline-block;
    font-family: "medium";
    line-height: normal;
    padding: 0px 12px;
    font-size: 15px;
}
.footer-bot .container > .row{
    display: flex;
    align-items: center;
}
.footer-bot .right .addon-box{
    float: right;
}
.footer-bot .left ul {
    margin-left: -11.5px;
}
.footer-bot .copyright{
    margin-top: -2px;
}
.footer-bot .copyright a{
    color: #ff3f13;
    font-family: "bold";
}
.footer-bot .copyright p{
    letter-spacing: 0.5px;
}
.footer-bot .container {
    border-top: 2px solid rgba(0,0,0,0.08);
    padding: 28px 0;
}
.footer-bot ul li:not(:last-child) {
    border-right: 1px solid #e5e5e5;
}
.footer-bot .copyright p {
    color: #696969;
    font-size: 14px;
    margin-bottom: 0;
    letter-spacing: 0px;
}

/*end footer*/