
.main-site {
    margin-left: 332px;
}
.container{
    width: 1490px;
    margin: 0 auto;
}

/*header*/
.header .container {
    width: auto;
}
.header .second > .addon-box > .btn-group.module-group-box > a {
    background: url("../img/icon/group.png") no-repeat;
    width: 20px;
    height: 16px;
    display: block;
    margin-top: 11px;
}
header {
    background: #fff none repeat scroll 0 0;
    height: 100%;
    left: 0;
    position: fixed;
    width: 330px;
    z-index: 2001;
    top: 0;
    box-shadow: 0 0 35px rgba(0,0,0,0.05);
    padding: 60px 30px;
}
.header .first .addon-box {
    display: flex;
    justify-content: center;
}
.header .first{
    margin-bottom: 56px;
} 
.languages-info.type1,
.languages-info.type2,
.currency-info.type1,
.currency-info.type2{
    display: none;
}
.dropdown-menu.shoppingcart-box{
    display: block;
    position: fixed;
    top: 0;
    right: 0;
}
.header .second .addon-box:nth-child(4) .btn-name {
    font-weight: 600;
}
.header .second .addon-box:nth-child(4) .dropdown-menu {
    padding: 20px;
    top: -4px;
    right: -239px;
    left: auto;
    min-width: 165px;
}
.header .second #ajax_search {
    left: 220px;
    top: 16px;
    border-radius: 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border: 0;
    background: #fff url(../img/icon/icon-search.png) no-repeat 18px;
    padding-left: 55px;
    letter-spacing: 0.8px;
    font-size: 13px;
    background-size: 20px;
}
.header .second .jms_ajax_search .searchbox::after {
    background: #fff none repeat scroll 0 0;
    box-shadow: -3px -3px 7px rgba(0, 0, 0, 0.1);
    content: "";
    height: 10px;
    position: absolute;
    top: 11px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 10px;
    left: auto;
    right: 6px;
    z-index: 999;
}
.header .second .jms_ajax_search .search-box{
    min-width: 300px;
}
.header .second{
    display: flex;
    justify-content: center;
    margin-left: 4px;
    margin-bottom: 120px;
}
.header .second .icon-magnifier{
    font-size: 18px;
}
.header .second #_desktop_user_info .type1 {
    display: none;
}
.header .second .text {
    display: none;
}
.header .second .addon-box {
    padding: 0px 15px;
}
.header .second .ajax_cart_quantity {
    top: -11px;
    right: -9px;
    padding-left: 0 !important;
    padding-top: 0 !important;
}
.header .second .shopping-cart-icon {
    position: initial;
    margin-top: 7px;
}
.header .second #jms_ajax_search {
    margin-top: 11px;
    transform: translateX(-5px);
}
.header .second .type2 {
    transform: translate(-2px, 1px);
}
.header .second .cart-title {
    position: relative;
    border-bottom: 2px solid #f7f7f7;
    margin-bottom: 20px;
    font-size: 17px;
    font-family: "semibold";
    color: #111;
}
.header .second .cart_block_list li {
    padding: 20px 0 20px;
}
.cart_block_list li:last-child {
    padding-bottom: 40px !important;
}
.header .second .cart-title::after {
    content: url('../img/icon/close-cart.png');
    position: absolute;
    right: 0;
    cursor: pointer;
}
.header .second #cart_block .shoppingcart-box {
    min-width: 410px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 50px;
}
.header .third{
    text-align: center;
    margin-bottom: 206px;
}
.header .third .jms-megamenu .mega.menu-align-center .dropdown-menu {
    top: -80px;
    left: auto;
    right: -1225px;
}
.header .third .jms-megamenu .mega.mega-feature .dropdown-menu {
    top: -50px;
    right: -1285px;
}
.header .third .jms-megamenu .mega .dropdown-menu {
    top: 0;
    left: auto;
    right: -228px;
}
.header .third .jms-megamenu .mega.home .dropdown-menu{
    right: -170px;
}
.header .third .jms-megamenu .mega.blog > .dropdown-menu,
.header .third .jms-megamenu .mega.pages > .dropdown-menu {
    right: -258px;
}
.header .third .jms-megamenu .dropdown-menu::before {
    display: none;
}
.header .third .jms-megamenu .nav > li {
    display: block;
    border-bottom: 1px solid #f3f3f3;
}
.jms-megamenu .nav > li > a{
    line-height: 52px;
}
.header .fourth .instagram{
    display: none;
}
.header .fourth .find-us{
    text-align: center;
    margin-left: 5px;
}
.header .fourth #social_block li a {
    font-size: 23px;
    padding: 0 9.4px;
}
/*end header*/

/*html*/
.html{
    margin-top: 94px;
    margin-bottom: 76px;
}
.html .container-fluid{
    width: 1490px;
}
.html .addon-box{
    text-align: center;
}
.html h3 {
    font-family: "quentin";
    font-size: 80px;
    color: #ff3f13;
    letter-spacing: 0;
    padding-bottom: 0;
}
.html a {
    font-size: 20px;
    font-family: "semibold";
    color: #111;
    border: 2px solid #ccc;
    padding: 11px 24px;
}
.html a:hover {
    color: #fff;
    background: #ff3f13;
    border: 2px solid #ff3f13;
}
.html .addon-desc {
    font-size: 48px;
    font-family: "semibold";
    color: #d8a47d;
    word-spacing: 10px;
    margin-bottom: 33px;
}
/*end html*/

/*product*/
.product {
    margin-bottom: 55px;
}
.product .jms-banner{
    position: relative;
}
.product .left {
    width: 39.5%;
    padding-right: 35px;
}
.product .left h3 {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 48px;
    font-family: "bold";
    padding: 0;
    letter-spacing: 1.3px;
}
.product .right {
    width: 60.5%;
    float: right;
}
.product .right .product-carousel{
    padding-top: 0;
}
.product .right .product-preview {
    margin-bottom: 34px;
}
/*end product*/

/*newsletter*/
.newsletter .textnews_popup,
.newsletter .textnews_h1,
.newsletter .textnews_h2,
.newsletter .textnews_h3,
.newsletter .inputNew.normal,
.newsletter .btn-h3,
.newsletter #social_block{
    display: none;
}
.newsletter #newsletter_block_left{
    display: flex;
    justify-content: center;
    padding: 60px 0;
}
.newsletter #newsletter_block_left > .block_content {
    text-align: center;
    background: rgba(255,255,255,0.95) url("../img/mail.png") no-repeat 480px 82px;
    width: 47.1%;
    padding: 75px 0 60px;
}
.newsletter h3 {
    font-size: 30px;
    font-family: "bold";
    letter-spacing: 0.8px;
    padding-bottom: 8px;
}
.newsletter p {
    padding: 0px 165px;
    color: #444;
    font-size: 15px;
    letter-spacing: 0.35px;
    margin-bottom: 30px;
}
.newsletter .textnews_h6{
    padding-left: 21px;
}
.newsletter .form-group{
    display: flex;
    padding: 0 90px;
}
.newsletter #newsletter-input {
    height: 48px;
    letter-spacing: 0.8px;
    border: 2px solid #e3e2e2;
    margin-right: 10px;
    min-width: 400px;
    padding-left: 17px;
}
.newsletter .block_c_right{
    width: 100%;
}
.newsletter .newsletter-btn {
    padding: 0 20px;
    font-family: "semibold";
    letter-spacing: 0.5px;
}
/*end newsletter*/

/*html men*/
.html.men {
    margin-top: 96px;
    margin-bottom: 76px;
}
/*end html men*/

/*men*/
.men .right {
    width: 39.5%;
    padding-left: 35px;
}
.men .right .jms-banner{
    position: relative;
}
.men .right h3 {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 48px;
    font-family: "bold";
    padding: 0;
    letter-spacing: 1.3px;
}
.men .left {
    width: 60.5%;
}
.men .left .product-carousel{
    padding-top: 0;
}
.men .left .product-preview {
    margin-bottom: 34px;
}
.men{
    margin-bottom: 55px;
}
/*end men*/

/*footer*/
#footer {
    background: #f9f9f9;
}
#footer .container {
    width: 1194px;
}
.footer-top .left{
    padding-right: 9px;
}
.footer-top .container > .row{
    display: flex;
    align-items: center;
}
.footer-top .center ul li {
    display: inline-block;
    padding: 0 17px;
    position: relative;
}
.footer-top .container {
    padding: 81px 0;
    border-bottom: 1px solid #ededed;
}
.footer-top .center ul{
    margin: 0;
}
.footer-top .center ul li a {
    font-size: 20px;
    font-family: "semibold";
    color: #909090;
    letter-spacing: 0;
}
.footer-top .center ul li:not(:last-child) a::after {
    content: "";
    position: absolute;
    height: 19px;
    width: 1px;
    background: #e1e1e1;
    right: -2px;
    top: 12px;
}
.footer-top .right{
    padding-left: 9px;
}
.footer-top .right h3 {
    background: #252525;
    color: #fff;
    padding: 0;
    text-align: center;
    line-height: 51px;
    font-size: 23px;
    letter-spacing: 1px;
}
.footer-bot .container > .row{
    display: flex;
    align-items: center;
}
.footer-bot .container{
    padding: 25px 0;
}
.footer-bot .left p {
    font-size: 18px;
    font-family: "medium";
    letter-spacing: -0.1px;
    line-height: 1.8;
}
.footer-bot .left p a{
    color: #ff3f13;
}
.footer-bot .left p i{
    font-size: 16px;
}
.footer-bot .right .addon-box{
    float: right;
}
/*end footer*/



#newsletter-input::-webkit-input-placeholder{
    color: #666 !important;
}
#newsletter-input::-moz-placeholder{
    color: #666 !important;
}
.header .second #cart_block.open .shoppingcart-box{
    right: 0;
    top: 0;
}
.header .second #cart_block .shoppingcart-box{
    right: -410px;
    top: -30px;
}