.footer-top .center ul li:not(:last-child) a::after {
	left: -2px;
	right: auto;
}
#cart_block .ajax_cart_quantity {
	top: -11px;
}
header {
	right: 0;
	left: auto
}
.main-site {
	margin-right: 332px;
	margin-left: 0;
}
.header .second .addon-box:nth-child(4) .dropdown-menu {
	padding: 20px;
	top: -4px;
	left: -239px;
	right: auto;
	min-width: 165px;
}
.header .second #ajax_search {
	right: 226px;
	left: auto;
}
.header .third .jms-megamenu .mega.home .dropdown-menu {
	left: -170px !important;
	right: auto;
}
.header .third .jms-megamenu .mega.menu-align-center .dropdown-menu {
	left: -1225px !important;
	right: auto;
}
.header .third .jms-megamenu .mega.mega-feature .dropdown-menu {
	left: -1285px !important;
	right: auto;
}
.header .third .jms-megamenu .mega.blog > .dropdown-menu, .header .third .jms-megamenu .mega.pages > .dropdown-menu {
	left: -258px !important;
	right: auto;
}
.header .third .jms-megamenu .mega .dropdown-menu {
	left: -228px !important;
	right: auto;
}