.header .left .addon-box p {
	margin-right: 13px;
	margin-left: 0;
}
.header .right .addon-box {
	float: left;
}
.header .right .shopping-cart-icon {
	margin-left: 29px;
	margin-right: 0;
}
.header .right .addon-box:last-child {
	margin-left: 38px;
	margin-right: 0;
}
#cart_block .ajax_cart_quantity {
	left: 47px;
	right: auto;
	top: -11px;
}
.header .right .addon-box:first-child .dropdown-menu {
	left: -12px;
	right: auto;
}
.header .right .addon-box:first-child .dropdown-menu::after {
	right: auto;
	left: 18px;
}
#cart_block .shoppingcart-box::after {
	left: 36px;
	right: auto;
}
#ajax_search {
	left: -131px;
}
.header .jms_ajax_search .searchbox::after {
	right: auto;
	left: -11px;
}
#search_result {
	left: -26px;
	top: 64px;
	right: auto;
}
.banner1 .content p, .banner1 .content h3, .banner1 .content, .banner1 .content h1{
	direction: ltr !important;
}
.footer-top .center ul li:not(:last-child) a::after {
	left: -2px;
	right: auto;
}