.topbar .left ul li:not(:last-child) {
    border-left: 1px solid #f0f3f6;
    border-right: 0;
}
.topbar .left ul {
    margin-right: -56px;
}
.topbar .right .addon-box {
    float: left;
}
.topbar .right .addon-box:not(:last-child) {
    border-right: 1px solid #efeff1;
    border-left: 0;
}
.topbar .right .addon-box:first-child {
    padding-left: 0;
    padding-right: 30px;
}
.header .left .addon-box:first-child {
    padding-left: 25px;
    padding-right: 0;
}
.header .left .addon-box:first-child::after {
    left: 0;
    right: auto;
}
.header .left .menu p {
    padding-right: 8px;
}
.header .left .addon-box:last-child {
    padding-right: 26px;
    padding-left: 0;
}
.header .right .addon-box{
    float: left;
}
.header .right .shopping-cart-icon {
    right: -30px;
}
#cart_block .ajax_cart_quantity {
    top: -21px;
}
.header #ajax_search{
    right: 340px;
    left: auto;
}
.header .center div.jms-megamenu .nav > li.mega-feature {
    padding-left: 210px;
    padding-right: 23.3px;
}
.header .center div.jms-megamenu .nav > li.mega.blog {
    padding-right: 210px;
    padding-left: 23.3px;
}
.footer-bot .right .addon-box {
    float: left;
}
.newsletter .news_content {
    margin-left: 77px;
    margin-right: 0;
}
.footer-top .btn-h3 {
    margin-right: -45px;
    margin-left: 0;
}
#footer .info {
    padding-right: 63px;
    padding-left: 15px;
}
#footer .link {
    padding-right: 59px;
    padding-left: 15px;
}