.topbar .right .addon-box{
	float: left;
}
.topbar .right .addon-box:first-child {
	border-right: 1px solid #efeff1;
	border-left: 0;
	padding-left: 0;
	padding-right: 30px;
}
.topbar .left .addon-box:last-child {
	border-right: 1px solid #efeff1;
	padding-right: 29px;
	border-left: 0;
	padding-left: 0;
}
.topbar .icon-magnifier {
	padding-left: 10px;
	right: -27px;
	padding-right:0;
	left: auto;
}
.topbar #ajax_search{
	right: 440px;
	left: 0;
}
.header .shoppingcart .shopping-cart-icon {
	left: 0px;
	right: auto;
}
.header .shoppingcart .addon-box {
	float: left;
}
.topbar #search_result {
	right: 440px;
	left: auto;
}
.hot-sale .countdown-box {
	padding-right: 221px;
	padding-left: 0;
}
.hot-sale .content {
	margin-right: 138px;
	margin-left: 0;
}
.footer-bot ul li:not(:last-child) {
	border-left: 1px solid rgba(255,255,255,0.15);
	border-right: 0;
}
.footer-bot .left ul {
	margin-right: -11.5px;
	margin-left: 0;
}
.footer-bot .right .addon-box {
	float: left;
}
#footer .info {
	padding-right: 70px;
	padding-left: 0;
}