.header .right .addon-box {
	float: left;
}
.footer-top .btn-h3 {
	margin-right: -45px;
	margin-left: 0;
}
@media (min-width: 1800px){
	#footer .info {
		padding-right: 63px;
		padding-left: 15px;
	}
	#footer .link {
		padding-right: 59px;
		padding-left: 15px;
	}
}
