.header .right .addon-box {
    float: left;
}
.header .right .shopping-cart-icon {
    margin-left: 29px;
    margin-right: 0;
}
.header .right .addon-box:last-child {
    margin-left: 34px;
    margin-right: 0;
}
#cart_block .ajax_cart_quantity {
    left: 47px;
    top: -11px;
}
.header .right .addon-box:first-child .dropdown-menu {
    padding: 20px;
    top: 40px;
    left: -12px;
    right: auto;
    min-width: 165px;
}
.header #cart_block .shoppingcart-box {
    top: 45px;
    left: 29px !important;
}
.header .jms_ajax_search .searchbox::after {
    right: auto;
    left: -9px;
}
#search_result {
    top: 62px;
    right: 26px;
}
.header .right .addon-box:first-child .dropdown-menu::after {
    right: auto;
    left: 18px;
}
.banner .banner1 h4 {
    padding: 0 12px 0 0px;
    margin-left: 20px;
    margin-right: 0;
}
.banner .banner5 h4 {
    padding: 0 9px 0 0px;
    margin-left: 33px;
    margin-right: 0;
}
.footer-bot .left ul {
    margin-right: -11.5px;
    margin-left: 0;
}
#footer .info {
    padding-right: 70px;
    padding-left: 15px;
}
#footer .link {
    padding-right: 26px;
    padding-left: 15px;
}