.topbar .left ul li:not(:last-child) {
    border-left: 1px solid #f0f3f6;
    border-right: 0;
}
.topbar .left ul {
    margin-right: -56px;
}
.topbar .right .addon-box {
    float: left;
}
.topbar .right .addon-box:not(:last-child) {
    border-right: 1px solid #efeff1;
    border-left: 0;
}
.topbar .right .addon-box:first-child {
    padding-left: 0;
    padding-right: 30px;
}
.jms-megamenu .must-see .dropdown-menu::before {
    right: 18.5%;
    left: auto;
}
.jms-megamenu .mega-feature .dropdown-menu::before {
    right: 27%;
    left: auto;
}
.jms-megamenu .menu-item.blog > .dropdown-menu {
    right: 181px;
}
.header .left .addon-box:first-child {
    padding-left: 25px;
    padding-right: 0;
}
.header .left .addon-box:first-child::after {
    left: 0;
    right: auto;
}
.header .left .menu p {
    padding-right: 8px;
}
.header .left .addon-box:last-child {
    padding-right: 26px;
    padding-left: 0;
}
.header .right .addon-box{
    float: left;
}
.header .right .shopping-cart-icon {
    right: -30px;
    top: -6px;
}
.header .jms_ajax_search .searchbox::after {
    left: -10px;
    right: auto;
}
.header #search_result {
    right: 340px;
    left: auto;
}
#cart_block .ajax_cart_quantity {
    top: -17px;
}
.header .right .wishlist {
    left: 91px;
    right: auto;
}
.header .right .wishlist::after {
    right: auto;
    left: -27px;
}
.header #ajax_search{
    right: 340px;
    left: auto;
}
.header .center div.jms-megamenu .nav > li.mega-feature {
    padding-left: 210px;
    padding-right: 23.3px;
}
.header .center div.jms-megamenu .nav > li.mega.blog {
    padding-right: 210px;
    padding-left: 23.3px;
}
.footer-bot .right .addon-box {
    float: left;
}
.newsletter .news_content {
    margin-left: 77px;
    margin-right: 0;
}
.footer-top .btn-h3 {
    margin-right: -45px;
    margin-left: 0;
}
#footer .info {
    padding-right: 63px;
    padding-left: 15px;
}
#footer .link {
    padding-right: 59px;
    padding-left: 15px;
}
.feature-product .addon-title ul {
    float: left;
}
.feature-product .addon-title h3 {
    float: right;
}
.feature-product .addon-title ul li a {
    padding-left: 0;
    padding-right: 45px;
}